################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/TodoAPI1/.vs/**
~/TodoAPI1/obj

*.editorconfig

/TodoAPI1/obj
