################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################


/TodoAPI1/.vs


/TodoAPI1/.vs/TodoAPI1/v17/.suo

/TodoAPI1/obj

TodoAPI1/obj/Debug/net7.0
TodoAPI1/obj/Debug/net7.0/ref
TodoAPI1/obj/Debug/net7.0/refint
TodoAPI1/bin/Debug/net7.0
/TodoAPI1/obj/Debug/net7.0/refint/TodoAPI1.dll
/TodoAPI1/obj/Debug/net7.0/ref/*.dll
/TodoAPI1/obj/Debug/net7.0/*.exe
/TodoAPI1/obj/[dD]ebug/net7.0/*.cache
/TodoAPI1/obj/[dD]ebug/net7.0/*.*.*.cache
/TodoAPI1/obj/[dD]ebug/net7.0/*.txt
/TodoAPI1/obj/[dD]ebug/net7.0/*.pdb
/TodoAPI1/obj/[dD]ebug/net7.0/*.dll
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.*.*.txt
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.csproj.AssemblyReference.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.*
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.*.dll
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.assets.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.genruntimeconfig.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.pdb
/TodoAPI1/obj/TodoAPI1.csproj.nuget.dgspec.json
/TodoAPI1/obj/TodoAPI1.csproj.nuget.g.props
/TodoAPI1/bin/Debug/net7.0/TodoAPI1.deps.json
/TodoAPI1/bin/Debug/net7.0/TodoAPI1.dll
/TodoAPI1/bin/Debug/net7.0/TodoAPI1.exe
/TodoAPI1/bin/Debug/net7.0/TodoAPI1.pdb
/TodoAPI1/bin/Debug/net7.0/TodoAPI1.runtimeconfig.json
/TodoAPI1/obj/Debug/net7.0/apphost.exe
/TodoAPI1/obj/Debug/net7.0/refint/TodoAPI1.dll
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.assets.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.csproj.AssemblyReference.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.csproj.CoreCompileInputs.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.csproj.FileListAbsolute.txt
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.dll
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.genruntimeconfig.cache
/TodoAPI1/obj/Debug/net7.0/TodoAPI1.pdb
/TodoAPI1/obj/Debug/net7.0/ref/TodoAPI1.dll
